node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.auth.json
.env
dump.rdb
coverage
.nyc_output
coverage
.eslintcache
.npmrc*
.vscode
styles/parent-library-styles/
styles/style.css
styles/style.css.map
styles/style.scss
styles/.sass-cache/